* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.t-white {
  color: white;
}

h2 {
  font-weight: 400;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  box-shadow: 0px 4px 10px 2px rgb(87, 77, 77);
  border-radius: 10px;
  line-height: 30px;
  font-size: 1.5rem;
  font-weight: bolder;
  gap: 10px;
  padding: 10px 15px;
}

.container-grid {
  display: grid;
}

.col {
  flex-direction: column !important;
}

.max {
  height: 100vh;
}

header {
  width: 100%;
  justify-content: space-around !important;
  padding: 20px;
  border-bottom: 2px solid white;
}

.tools {
  color: white;
  text-align: center;
  pad: 10px;
  font-size: larger;
  position: relative;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-gray {
  background-color: rgb(255, 251, 251);
}

.days {
  justify-content: center;
  align-items: start;
  gap: 4rem;
  min-height: 600px;
  box-shadow: 0px 4px 10px 2px rgb(87, 77, 77);
  overflow-y: scroll;

  & > * {
    max-width: 5%;
  }
}

.pad-center {
  padding: 0 20%;
}

.btn {
  cursor: pointer;
  padding: 12px 2px;
  box-shadow: 0px 4px 10px 2px rgb(87, 77, 77);
  background-color: white;
  width: 100%;
  font-size: 18px;
  border: 0px solid black;
  border-radius: 12px;
  max-width: 20%;
}

.popup {
  top: -200px;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
  width: 90vw;
  padding: 100px;
  height: 100vh;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
}

.popup.active {
  display: flex;
}

.popup-card {
  padding: 20px 30px;
  width: 50%;
  box-shadow: 0px 4px 10px 2px rgb(87, 77, 77);
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  gap: 10px;
  justify-self: center;
  align-self: center;
  z-index: 2;
  flex-wrap: wrap;

  & > input {
    width: 80%;
    text-align: center;
    text-overflow: ellipsis;
    padding: 5px;
    border-radius: 6px;
  }

  & > select {
    width: 80%;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
  }
}

.btns {
  margin: 30px 0;
  width: 100%;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
}
